<p>
    {{ current_user.first_name }} shared their library with you! We hope you can join us <a
        href="{{ url_for('auth_view_endpoints.signup', _external=True) }}">here</a>!
</p>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>D.o.P</th>
            <th>Favorite?</th>
        </tr>
        </thead>
        {% for book in user_books_list %}
        <tr class="user_book_row" data-book_id="{{ book.book_id }}" data-user_books_id="{{ book.id }}">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.date_of_purchase }}</td>
            <td>
                <input %} %} book.is_favorite==
                       checked disabled endif if true
                       type="checkbox"
                       value="{{ book.is_favorite }}" {% {%
                >
            </td>
        </tr>
        {% endfor %}
    </table>
</div>