<p>
    {{ message }}
</p>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>D.o.P</th>
        <th>Favorite?</th>
    </tr>
    {{ for book in book_list }}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.date_of_purchase }}</td>
            <td><input type="checkbox" value="
            {{ if book.is_favorite }}
                Checked
            {{ endif }}"></td>
        </tr>
    {{ endfor }}
</table>